body {
    background-color: #FAFAFA;
}
.loginpage__main {
    display: flex;
    margin-top: 10px;
    margin-left: -65px;
}
.loginpage__logo {
    width: 175px;
    margin-top: 25px;
}
.loginpage_rightcomponent { 
    width: 350px;
    padding-bottom: 25px;
    border: 1px solid #DBDBDB;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}
.loginPage__signin {
    margin-top: 25px;
}
.logipage__text{
    width:258px;
    height: 36px;
    margin:5px;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    padding-left: 10px;
    border-radius: 5px;
}
.login__button{
    width:270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border:1px solid #0395F6;
    background-color: #0395F6;
    color: white;
}
.login__ordiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.login__dividor {
    width: 80px;
    height: 0px;
    margin-top: 10px;
    border:1px solid #DBDBDB;
}
.login__or {
    margin: 0px 10px;
    font-weight: bold;
    color: #8E8E8E;
}
.login__fb {
    color: #395185;
    font-weight: bold;
    margin-top: 30px;
}
.login_forgt {
    color: rgba(var(--fe0,0,55,107),1);
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}
.loginpage__signupoption {
    margin-top: 25px;
    height:56px;
    width: 350px;
    background-color: white;
    border: 1px solid #DBDBDB;
    text-align: center;
}
.loginPage__signin{
    margin-top: 20px;
}
.loginPage__signup {
    margin-top: 20px;
}
.loginPage__downloadSection {
    height: 105px;
    width: 350px;
    text-align: center;
    margin-top: 20px;
}
.loginPage__option {
    margin-top: 20px;
}
.loginPage_dwimg {
    margin: 5px;
}
